.all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.head {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 70px;
}

.categoryButtons {
  display: flex;
}

.oneButton {
  margin: 3px;
}
